body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:1525px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:17px;
  width:1233px;
  height:1525px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:39px;
  width:132px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2631 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2631_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:97px;
  width:1215px;
  height:354px;
  display:flex;
  transition:none;
}
#u2632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:354px;
}
#u2632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:486px;
  width:186px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2633 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2633_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:534px;
  width:79px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2634 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2634_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:572px;
  width:1130px;
  height:599px;
  display:flex;
  transition:none;
}
#u2635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:599px;
}
#u2635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1195px;
  width:168px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2636 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2636_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1243px;
  width:150px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1291px;
  width:132px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
